coverage[toml] == 7.*
coverage-conditional-plugin == 0.9.*
pytest == 9.1.*
pytest-cov == 7.1.*
pytest-timeout == 2.4.*
pytest-xdist == 3.8.*
black == 25.*
ruff == 0.15.*
psutil >= 5.9,< 7.3
mypy == 1.19.*
