coverage[toml] == 7.*
coverage-conditional-plugin == 0.9.*
pytest == 8.3.*
pytest-cov == 5.0.*
pytest-timeout == 2.3.*
pytest-xdist == 3.6.*
black == 24.*
ruff == 0.7.*
mypy == 1.13.*
psutil >= 5.9,< 6.2
